<footer>
        <div class="footer">
            <div class="wrapper_main">
                <div class="footer_container">
                    <div class="footer_card">
                            <h3>
                                YanAirLoves
                            </h3>
                            <hr>
                            <h3><span class="span_footer">Наши контакты</span></h3>
                            <div class="car_time">
                                <p><span><h6>+79535580348</span></p>
                                <p><span><h6>yankuritsyn@mail.ru</span></p>
                                <h5><span class="span_footer">Мы в социальных сетях:</span></h5>
                                <a href="https://vk.com/yanyeyo"><%=image_tag("vk.jpg", width: "40", height: "30") %></a>
                                <a href="https://github.com/yannyeyo"><%=image_tag("github.png", width: "40", height: "30") %></a>
                            </div>
                    </div>
                    <div class="footer_card">
                        <h3>YanAirLoves</h3>
                        <hr>
                        <h3><span class="span_footer">О нас</span></h3>
                        <ul>
                        <li><h6>Быстро!</li>
                        <li><h6>Дешево!</li>
                        <li><h6>С комфортом!</li>
                        </ul>
                    </div>
                    <div class="footer_card card_end">
                        <h3>We are here and there are many of us</h3>
                        <hr>
                        <h3><span class="span_footer">Наша локация в Москве</span></h3>
                        <ul>
                        <li><h6>г.Москва</li>
                        <li><h6>улица 9-я Парковая, 15/68</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>