<h1>Авиалинии yanAirways</h1>
<h3>Наш девиз</h3>
Путешевствуйте, это того СТОИТ!

<div class='top'>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("main1.jpg", height: '700', width: '800', class: "d-block w-100", alt: "...") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("main2.jpg", height: '700', width: '800', class: "d-block w-100", alt: "...") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("main3.jpg", height: '700', width: '800', class: "d-block w-100", alt: "...") %>
    </div>
        <div class="carousel-item">
      <%= image_tag("main4.jpg", height: '700', width: '800', class: "d-block w-100", alt: "...") %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
</div>
<br/>
<h3>ЛЕТАТЬ НЕ ВРЕДНО, ВРЕДНО НЕ ЛЕТАТЬ</h3>
<ul>