<h1>Контакты</h1>
<ul>
<li>Ул. 9-я Парковая, д 15</li>
<br />
<br />
<li>Время работы: с 8.00 до 23.00</li>
<br />
<li>Телефон: +7(953)558-03-48</li>
<li>E-mail: yankuritsyn@mail.ru</li>
</ul>
<h3>Мы на карте</h3>
<div id="yandex_map" class="map">
</div>